/*global styles*/
/*row margin styles*/
.row-margin-top-20px {
	margin: 20px 0 0 0;
}
/*nav styles*/
nav {
	height: auto;
}
header, nav, nav ul a.btn, header div div a.btn {
	background-color: #333333;
}

.logo {
  padding-left: 50px;
}
nav ul a.btn {
	border: white solid 1px;
}

nav .btn:hover, nav .btn:focus  {
	background-color: #fa6900;
}

nav .dropdown-content li>a, nav .dropdown-content li>span {
	color: #fa6900;
}

nav .dropdown-content {
	background-color: #333333;
}
/*nav styles end*/
/*sign-out styles*/
#sign-out {
	height: 2rem;
	text-align: right;
	color:white;
	margin-bottom: 10px;
	margin-top: 0;
	padding-right:2em;
}

/*sign-out styles end*/
.page-footer {
  background-color: #333333;
}

.subscribe input {
  background-color: #f5f5f5 !important;
  height: 26px !important;
  margin: 3% !important;
  border-bottom: none !important;
  padding: 0 4% !important;
}

.buton-suscribe {
  margin: 8px;
  background-color: #ff5900;
  border: 2px solid #ff5900;
}

.footer-contact h6, button, .contact {
  color: #f5f5f5;
}

.footer-contact .contact {
  text-align: right;
}

.social-media .fa {
  padding: 2%;
}

.shadow-card {
  border: 1px solid #e2e2e2;
  margin: 2%;
  padding: 2% !important;
  box-shadow: 0px 0px 20px 1px #e2e2e2;
}

/*#collapsible-profile {
	margin-top: -4%;
}*/

.btn-medium img {
	width: 25%;
}
/*modals styles*/
.modal-overlay, .modal {
	height: auto;
	color:#333333;
	z-index: 100;
}
.modal-content p {
	margin:0;
	padding:0;
	-webkit-margin-before:0;
	-webkit-margin-after:0;
}

#profile {
	margin-top: 5%;
}

/* clases mireya*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box__star {
    background-color: #F7F7F7;
    padding: 40px 40px;
    margin: 0 auto 25px;
    margin-top: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.img__logo{
  margin: 3% 5% 0;
}

.box__modal{
  width: 25%;
  padding: 15px;
}

.img__profile {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}

.title__session {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 10px 0;
    min-height: 1em;
}

 .button {
    width: 90%;
    display: block;
    margin: 5px;
    padding: 5px;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 9px;

}
.button__azul{
	background-color: #25cad3;
	color: white;
}
.buttom__blanco-negro{
	background-color: transparent;
	color: black ;
	border: 5px solid black;
}

.title__questions--margen{
	margin-top: 8%;
	margin-left: 5%;
}



small{
  margin: 10px 0 10px 0;
}



.enlace__contraseñaOlvidada {
    color: rgb(104, 145, 162);
}

.enlace__contrase:hover{
    color: rgb(12, 97, 33);
}

/*
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;/*cambia la dirección de escritura  de derecha a izquierda ( right to left ).*/
/*  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
*/
.high__chip{
      min-height: 3rem;
      padding: 5px;
}

.text-white {
    color: #fff ;
}
.color__dark-gray{
  background-color: #333333;
}
.color__orange{
  color: #fa6900;
}

	#copyright{
	  text-align: center;
	  padding: 1%;
	  background-color: #333333;
	  margin-top: -2%;
	  color: #f5f5f5;
	}
/*experiences' cards styles*/
.container-buttons-card {
	display:flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 8em;
}
.container-buttons-card .btn:focus, .container-buttons-card .btn:hover  {
	background-color: transparent;
	color:#333333;
	border: solid #333333 1px;
}
.background__orange {
	background-color: #fa6900;
}
.extra-padding-bottom {
	padding-bottom:1em;
}
.row h2 {
	margin-top: 1em;
}
