<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Metas -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Title -->
  <title>X-Women</title>
  <!-- Links -->
  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header>
    <div class="navbar-fixed">
      <nav>
        <div id="sign-out">
          <span><i class="fa fa-user-circle" aria-hidden="true"></i><a href="../index.html">Cerrar sesión</a></span>
        </div>
        <div class="nav-wrapper">
          <a href="principal.html" class="logo"><img src="../assets/img/logoNaranja-menu.png" alt=""></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="reservas.html">Mis reservaciones</a></li>
            <li><a href="#">Mis facturas</a></li>
            <!-- Dropdown Structure Trigger -->
            <li><a class='dropdown-button' href='#' data-activates='about-me'>Acerca de mí</a></li>
            <!-- Dropdown Structure Start -->
            <ul id='about-me' class='dropdown-content'>
              <li><a href="principal.html">Mis datos</a></li>
              <li><a href="experiencias.html">Mis experiencias</a></li>
              <li><a href="convenio.html">Mi convenio</a></li>
            </ul>
            <!-- Dropdown Structure End -->
            <li><a href="preguntas.html">Preguntas frecuentes</a></li>
            <li><a class="btn" href="#modal1">Contacto</a></li>
          </ul>
        </div>
        <!-- Modal Structure -->
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <section class="row">
              <section class="col s4">
                <p>Negociaciones y convenios:</p>
              </section>
              <section class="col s4">
                <p>5292-5707 Ext. 104 y 105</p>
              </section>
              <section class="col s4">
                <p>socios@experimenta.com.mx</p>
              </section>
            </section>
            <section class="row">
              <section class="col s4">
                <p>Administración:</p>
              </section>
              <section class="col s4">
                <p>5292-5707 Ext. 1145</p>
              </section>
              <section class="col s4">
                <p>egresos@experimenta.com.mx</p>
              </section>
            </section>
            <section class="row">
              <section class="col s4">
                <p>Reservaciones:</p>
              </section>
              <section class="col s4">
                <p>5292-5707 Ext. 109 y 110</p>
              </section>
              <section class="col s4">
                <p>cte@experimena.com.mx</p>
              </section>
            </section>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <!-- sidebar menu structure -->
  <section class="menu-sidebar">
	  <div id="sign-out">
		<span><i class="fa fa-user-circle" aria-hidden="true"></i><a href="../index.html">Cerrar sesión</a></span>
	  </div>
	  <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
	  <a href="principal.html" class="logo"><img src="../assets/img/logoNaranja-menu.png" alt=""></a>
	  <ul id="slide-out" class="side-nav">
		<li><a href="reservas.html">Mis reservaciones</a></li>
		<li><a href="#">Mis facturas</a></li>
		<li>
			<ul>
		  	<li><a href="principal.html">Mis datos</a></li>
		  	<li><a href="experiencias.html">Mis experiencias</a></li>
		  	<li><a href="convenio.html">Mi convenio</a></li>
			</ul>
		</li>
		<li><a href="preguntas.html">Preguntas frecuentes</a></li>
		<li><a class="btn" href="#modal1">Contacto</a></li>
	  </ul>
  </section>
  <!-- sidebar menu structure end -->
  <section id="profile">
    <div class="container">
      <div class="row">
        <div class="col l12 s12 shadow-card">
          <div class="col l4">
            <img src="../assets/img/perfil.png" alt="Foto de perfil">
            <form action="#">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Subir foto</span>
                  <input type="file">
                </div>
              </div>
            </form>
          </div>
          <div class="col l8">
            <div class="row">
              <h3 style="text-align:center;">¡Bienvenido, Perla Sosa!</h3>
              <div class="commercial-data">
                <h5>Datos comerciales:</h5>
                <p><strong>Domicilio Fiscal:</strong> Uruapan 17 int. 101, Colonia Roma, Delegación Cuauhtémoc, C.P. 16700 en el Distrito Federal, México</p>
                <p><strong>Razón Social:</strong> Experimenta de México S.A. de C.V.</p>
                <p><strong>RFC:</strong> EXP09388PS </p>
                <p><strong>Domicilio de la experiencia:</strong> Morelia, Michoacán</p>
                <a href="#collapsible-profile">
                  <button type="button" name="button" style="float:right;" class="btn">Editar</button>
                </a>
              </div>
              <hr style="margin-top:2%;">
              <div class="bank-data">
                <h5>Datos bancarios:</h5>
                <p><strong>Beneficiario:</strong> Experimenta</p>
                <p><strong>Banco:</strong> BBVA Bancomer</p>
                <p><strong>Sucursal:</strong> Roma Norte</p>
                <p><strong>Numero de Cuenta:</strong> 1234 5678 91 1234567890</p>
                <p><strong>Clabe:</strong> 01 1234 5678 91 1234567890</p>
                <a href="#collapsible-profile">
                  <button type="button" name="button" style="float:right;" class="btn">Editar</button>
                </a>
              </div>
              <hr style="margin-top:2%;">
              <div class="administrative-contact">
                <h5>Contacto administrativo:</h5>
                <p><strong>Nombre:</strong> René Millan</p>
                <p><strong>Cargo:</strong> Ganador</p>
                <p><strong>Teléfono:</strong> 55-55-55-55-55</p>
                <p><strong>Correo electrónico:</strong> rene@gmail.com</p>
                <a href="#collapsible-profile">
                  <button type="button" name="button" style="float:right;" class="btn">Editar</button>
                </a>
              </div>
              <hr style="margin-top:2%;">
              <div class="contact-negotiation">
                <h5>Contacto de negociación:</h5>
                <p><strong>Nombre:</strong> René Millan</p>
                <p><strong>Cargo:</strong> Ganador</p>
                <p><strong>Teléfono:</strong> 55-55-55-55-55</p>
                <p><strong>Correo electrónico:</strong> rene@gmail.com</p>
                <a href="#collapsible-profile">
                  <button type="button" name="button" style="float:right;" class="btn">Editar</button>
                </a>
              </div>
              <hr style="margin-top:2%;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="collapsible-profile">
    <div class="container">
      <div class="row">
        <div class="col l12">
          <div id="popout" class="section scrollspy">
            <ul class="collapsible popout collapsible-accordion" data-collapsible="accordion">
              <li class="col s12">
                <div class="collapsible-header">
                  <h5><i class="fa fa-chevron-down" aria-hidden="true"></i> Datos Comerciales</h5>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="tax-domicile" type="text" class="validate" required>
                          <label for="tax-domicile">Domicilio Fiscal</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="business-name" type="text" class="validate">
                          <label for="business-name" class="active">Razon Social</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="rfc" type="text" class="validate">
                          <label for="rfc" class="active">RFC</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="experience" type="text" class="validate" required>
                          <label for="experience">Domicilio de la experiencia</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 right-align">
                          <a class="btn btn-save accent-4">Guardar</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
              <li class="col l12">
                <div class="collapsible-header">
                  <h5><i class="fa fa-chevron-down" aria-hidden="true"></i> Datos Bancarios</h5>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="col s12">
                      <div class="row">
                        <div class="col s10 offset-s1">
                          <form action="#">
                            <div id="card-info">
                              <div class="row">
                                <div class="input-field col s12">
                                  <input id="beneficiary" type="text" class="validate">
                                  <label for="beneficiary"> Beneficiario (razón social) *</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s6">
                                  <input id="bank" type="text" class="validate">
                                  <label for="bank"> Banco*</label>
                                </div>
                                <div class="input-field col s6">
                                  <input id="office" type="text" class="validate">
                                  <label for="office">Sucursal *</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="input-field col s6">
                                  <input id="account-number" type="password" class="validate">
                                  <label for="account-number">Numero de cuenta *</label>
                                </div>
                                <div class="input-field col s6">
                                  <input id="interbank-clabe" type="text" class="validate">
                                  <label for="interbank-clabe"> Clabe *</label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col s12 right-align">
                                  <a class="btn btn-save accent-4">Guardar</a>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col l12">
                <div class="collapsible-header">
                  <h5><i class="fa fa-chevron-down" aria-hidden="true"></i> Contacto administrativo</h5>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="first_name" type="text" class="validate" required>
                          <label for="first_name" class="active">Nombre</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="last_name" type="text" class="validate">
                          <label for="last_name" class="active">Apellido</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="position" type="text" class="validate" required>
                          <label for="position" class="active">Cargo</label>
                        </div>
                        <div class="input-field col s6">
                          <input type="number" class="validate">
                          <label for="telephone" class="active">Telefóno</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="email" type="email" class="validate">
                          <label for="email" class="active">Correo</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 right-align">
                          <a class="btn btn-save accent-4">Guardar</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
              <li class="col l12">
                <div class="collapsible-header">
                  <h5><i class="fa fa-chevron-down" aria-hidden="true"></i> Contacto de negociación</h5>
                </div>
                <div class="collapsible-body">
                  <div class="row">
                    <form class="col s12">
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="first_name" type="text" class="validate" required>
                          <label for="first_name" class="active">Nombre</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="last_name" type="text" class="validate">
                          <label for="last_name" class="active">Apellido</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="position" type="text" class="validate" required>
                          <label for="position" class="active">Cargo</label>
                        </div>
                        <div class="input-field col s6">
                          <input type="number" class="validate">
                          <label for="telephone" class="active">Telefóno</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="email" type="email" class="validate">
                          <label for="email" class="active">Correo</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 right-align">
                          <a class="btn btn-save accent-4">Guardar</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="logo-footer">
          <img src="../assets/img/logoNaranja-menu.png" alt="logo">
        </div>
        <hr>
        <div class="col l3 s12">
          <h6 class="white-text">EXPERIMENTA</h6>
          <ul class="grey-text text-lighten-4">
            <a href="#" class="grey-text text-lighten-4">
              <li>Home</li>
            </a>
            <a href="#" class="grey-text text-lighten-4">
              <li>¿Quiénes somos?</li>
            </a>
            <a href="#" class="grey-text text-lighten-4">
              <li>¿Cómo funciona?</li>
            </a>
            <a href="#" class="grey-text text-lighten-4">
              <li>Recibí un kit</li>
            </a>
            <a href="#" class="grey-text text-lighten-4">
              <li>Blog</li>
            </a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h6 class="white-text">SERVIVIO AL CLIENTE</h6>
          <ul class="grey-text text-lighten-4">
            <a href="#" class="grey-text text-lighten-4">
              <li>Preguntas frecuentes</li>
            </a>
            <a href="#" class="grey-text text-lighten-4">
              <li>Garantía de servicio</li>
            </a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h6 class="white-text">PÓLITICAS</h6>
          <ul class="grey-text text-lighten-4">
            <a href="#" class="grey-text text-lighten-4">
              <li>Términos y condiciones</li>
            </a>
            <a href="#" class="grey-text text-lighten-4">
              <li>Privacidad</li>
            </a>
          </ul>
        </div>
        <div class="col l3 s12">
          <h6 class="white-text">SOLUCIONES CORPORATIVAS</h6>
          <ul class="grey-text text-lighten-4">
            <a href="#" class="grey-text text-lighten-4">
              <li>Regalos corporativos</li>
            </a>
            <a href="#" class="grey-text text-lighten-4">
              <li>Cotiza tu iniciativa</li>
            </a>
          </ul>
        </div>
      </div>
      <hr>
    </div>

    <div class="footer-contact">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <div class="social-media">
              <a href="https://www.facebook.com/experimenta.mexico" class="grey-text text-lighten-4 fa-3x" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://twitter.com/experimenta_mex" class="grey-text text-lighten-4 fa-3x" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/company-beta/1069214/" class="grey-text text-lighten-4 fa-3x" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="https://www.instagram.com/experimenta.mexico/" class="grey-text text-lighten-4 fa-3x" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="https://www.youtube.com/user/experiologo" class="grey-text text-lighten-4 fa-3x" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
              <a href="https://www.experimenta.com.mx/blog/" class="grey-text text-lighten-4 fa-3x" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col l6 s12">
            <div class="row">
              <h6 class="right">Inscríbete a nuestro Newsletter para recibir grandes ideas...</h6>
              <div class="col l8 subscribe right">
                <input type="email" name="suscribirse" value="" placeholder="Escribe tu e-mail">
              </div>
              <button type="button" name="button" class="col l3 buton-suscribe right">Suscribete</button>
            </div>
            <div class="row">
              <div class="l12">
                <p class="contact"><i class="fa fa-phone" aria-hidden="true"></i> 5292 5707 / 01 55 5292-5707 | <br>
                  <i class="fa fa-envelope-o" aria-hidden="true"></i> atencion@experimenta.com.mx
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <section id="copyright">
    Copyright © 2017-, Experimenta de México, S.A. de C.V. Todos los derechos reservados.
  </section>

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
  <!-- Compiled and minified JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
</body>

</html>
